:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
	margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);

  display: inline-flex;
  align-items: center;
  margin-right: 76px;
}

.logo-accent {
  color: var(--navy-blue);
}

a {
  text-decoration: none;
  color: currentColor;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean);
}

.contacts-menu-item:hover,
.contacts-menu-item:focus {
  color: var(--ocean);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--cornflower);
}
.header-menu-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.menu-item {
  padding: 24px 0;
}
.menu {
  list-style: none;
  display: flex;
  gap: 40px;

}

.header-nav {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
}

.contacts {
  font-style: normal;
}

.contacts-menu {
  list-style: none;

  display: flex;
  padding: 24px 0;
  gap: 40px;
  margin-left: 332px;
}

.btn {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  background: var(--iris);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.hero {
  background: var(--navy-blue);
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.spdt-list {
  list-style: none;
}

.team {
  background: var(--cloud);
}
.team-title {
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  list-style: none;
  text-align: center;
}

.team-list-item {
  background-color: #ffffff;
}

.portfolio-list {
  list-style: none;
}

.portfolio-title {
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

footer {
  background: var(--navy-blue);
  color: var(--cloud);
}
.footer-logo-accent {
  color: var(--cloud);
}

p {
  font-size: 16px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  margin: 0;
}
