:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  font-family: var(--second-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-header {
  margin-right: 76px;
}
.logo-footer {
  padding: 101.5px 0 0 0;
}
.header-menu-link:hover, .header-menu-link:focus {
  color: var(--ocean);
}

.contacts-menu-item:hover, .contacts-menu-item:focus {
  color: var(--ocean);
}

.logo-accent {
  color: var(--navy-blue);
}


a {
  text-decoration: none;
  color: currentColor;
}

.header-menu-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.menu {
  list-style: none;

  padding: 24px 0;
  gap: 40px

}

.contacts {
  font-style: normal;

  margin-left: 332px;
}

.contacts-menu {
  list-style: none;

  gap: 40px;
}

.btn {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  background: var(--iris);
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: var(--ocean);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.hero {
  background: var(--navy-blue);

  padding: 188px 0;
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);

  max-width: 496px;
}

.spdt-list {
  list-style: none;
}

.team {
  background: var(--cloud);
}
.team-title {
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  list-style: none;
  text-align: center;
}

.team-list-item {
  background-color: #FFFFFF;
}

.portfolio-list {
  list-style: none;
}

.portfolio-title {
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

footer {
  background: var(--navy-blue);
  color: var(--cloud);
}
.footer-logo-accent {
  color: var(--cloud);
}

p {
  font-size: 16px;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  display: block;
}

.section {
  padding: 120px 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc
}

.header-nav {
  display: flex;
  align-items: center;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
}

.slogan {
  padding: 140px 0 100px;
  max-width: 264px;
  height: 72px;
}