:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
	margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--cornflower);
}

.header-nav {
}
.logo {
}
.logo-header {
}
.logo-accent {
}
.menu {
}
.menu-item {
}
.header-menu-link {
}
.contacts {
}
.contacts-menu {
}
.contacts-menu-item {
}
.hero {
}
.section {
}
.hero-title {
}
.btn {
}
.spdt {
}
.spdt-list {
}
.spdt-list-item {
}
.spdt-list-title {
}
.list-item-desc {
}
.team {
}
.team-title {
}
.team-list {
}
.team-list-item {
}
.team-image {
}
.list-item-title {
}
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-list-image {
}
.portfolio-list-title {
}
.portfolio-item-desc {
}
.footer {
}
.footer-logo-accent {
}
.slogan {
}